{% extends "layout.html" %}

{% block title %}New or Edit{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}" />
{% endblock %}

{% block header %}
<nav class="header">
  <h1 class="logo"><span class="bye-small">The</span> Harpath <span class="bye-small">Group</span></spanGroup> <span class="logo-thin">Admin</span></h1>
  <div class="menu" :class="{ open: isOpen }" @click="toggleOpen" v-scope>
    <div class="menu-item toggle"><span></span></div>
    <span class="menu-item">
      <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
    </span>
  </span>
</nav>
{% endblock %}

{% block content %}
  <div class="wrapper">
    {% if location.id %}
    <a href="{{ url_for('admin_hotels_index', id=location.id ) }}">View Hotels</a>
    {% endif %}
    <form method="post" action="{{action_url}}">
      <div>
        <label for="region">Region</label>
        <select name="region" id="region" autocomplete="off">
          {% for value, region in regions %}
          <option value="{{ region }}" {% if location.region==region %} selected="selected"{% endif %}>{{ region }}</option>
          {% endfor %}
        </select>
      </div>
      <div>     
        <label for="city">City</label>
        <input id="city" type="text" name="city" value="{{ location.city }}" autocomplete="off" />
      </div>
      <div>
        <label for="identifier">Identifier</label>
        <input type="text" id="identifier" name="identifier" value="{{ location.identifier }}" autocomplete="off"  />
      </div>
      <div>
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="20" cols="50">{{ location.description }}</textarea>
      </div>
      <button type="submit">Submit</buxtton>
    </form>
  </div>

  <script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js'

    createApp({
      isOpen: false,

      toggleOpen() {
        this.isOpen = !this.isOpen
      }
    }).mount()
  </script>
{% endblock %}