{% extends "layout.html" %}

{% block title %}Admin Locations{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}" />
{% endblock %}

{% block header %}
<nav class="header">
  <h1 class="logo"><span class="bye-small">The</span> Harpath <span class="bye-small">Group</span></spanGroup> <span class="logo-thin">Admin</span></h1>
  <div class="menu" :class="{ open: isOpen }" @click="toggleOpen" v-scope>
    <div class="menu-item toggle"><span></span></div>
    <span class="menu-item">
      <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
    </span>
  </span>
</nav>
{% endblock %}

{% block content %}
  <div class="wrapper">
    <a href="{{ url_for('admin_locations_new') }}">New</a>
  {% for location in locations %}
    <p><a href="{{ url_for('locations_show', identifier=location.identifier) }}">{{location.city}}</a></p>
  {% endfor %}
  </div>

  <script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js'

    createApp({
      isOpen: false,

      toggleOpen() {
        this.isOpen = !this.isOpen
      }
    }).mount()
  </script>
{% endblock %}