{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block link %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}" />
{% endblock %}

{% block header %}
  <nav class="header">
    <div class="logo"></div>
    <div class="menu">
      <span class="menu-item">
        <a href="{{ url_for('naples') }}" class="navbar-item">Locations</a>
      </span>
    </span>
  </nav>
{% endblock %}

</div>
{% block content %}
  <div class="hero">
    <h1 class="hero-title">The Harpath Group</h1>
    <p class="hero-description">Italian Hotels, Curated</p>
  </div>
  <div class="hero-pic">
    <img alt="Free minibar, in-room safe, desk, laptop workspace" class="uitk-image-media" src="https://images.trvl-media.com/lodging/4000000/3630000/3624000/3623921/31b7a0a3.jpg?impolicy=resizecrop&amp;rw=1200&amp;ra=fit">
  </div>
  <div class="wrapper">
    <div class="installation">
      <h3 class="section-title"></h3>
    </div>
  </div>
  <p>Home page for the Visual Studio Code Flask tutorial.</p>
{% endblock %}