<h3 class="hotel-title" id="{{ hotel.identifier }}">{{ hotel.name }}</h3>
<p>{{ hotel.description }}</p>
<p>▶︎ {{ hotel.perks }}</p>
<div class="booknow-callout">
  <a href="{{ hotel.affiliate_link }}" class="button-secondary">View Hotel on Expedia</a>
</div>
<div class="photo-section" id="test-gallery">
  {% for photo in hotel.hotel_photos %}
  <a class="photo-link"
    href="{{ photo.src }}"
    data-pswp-width="{{ photo.width }}" data-pswp-height="{{ photo.height }}" target="_blank" rel="noreferrer">
    <img width="{{ photo.width_t }}" height="{{ photo.height_t }}"
      src="{{ photo.src_t }}"
      alt="" />
  </a>
  {% endfor %}
</div>