<h3 class="hotel-title" id="{{ hotel.identifier }}">
    {{ hotel.name }}
</h3>
<p class="hotel-info">
  {{ location.city }}, Italia
</p>
<p class="hotel-info">
  <a href="{{ url_for('locations') }}">Other locations</a>
</p>
<div class="booknow-callout">
  <a href="{{ hotel.affiliate_link }}" class="button-secondary">View on Expedia</a>
</div>
<div class="photo-section" id="test-gallery">
  {% for photo in hotel.hotel_photos %}
  <a class="photo-link"
    href="{{ photo.src }}"
    data-pswp-width="{{ photo.width }}" data-pswp-height="{{ photo.height }}" target="_blank" rel="noreferrer">
    <img width="{{ photo.width_t }}" height="{{ photo.height_t }}"
      src="{{ photo.src_t }}"
      alt="" />
  </a>
  {% endfor %}
</div>
<div class="booknow-callout">
  <a href="{{ hotel.affiliate_link }}" class="button-secondary">View on Expedia</a>
</div>

<p>{{ hotel.description }}</p>
<p>▶︎ {{ hotel.perks }}</p>
<div class="booknow-callout">
  <a href="{{ hotel.affiliate_link }}" class="button-secondary">View on Expedia</a>
</div>
<p>
  <a href="#">Back to top</a>
</p>
<div class="divider">
  {% include 'pantheon-rome.svg' %}
</div>


