<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="a website that curates good italian hotels and has useful and interesting information for site visitors.">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='global.css') }}" />
  {% endblock %}
</head>

<body>
  {% block header %}
  {% endblock %}

  
  {% block content %}
  {% endblock %}

  <footer class="footer">
    &copy; 2025 The Harpath Group.  This site earns revenue from commissions.
  </footer>
</body>

</html>
