{% extends "layout.html" %}

{% block title %}Locations{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='locations.css') }}" />
{% endblock %}

{% block header %}
<nav class="header">
  <h1 class="logo"><span class="bye-small">The</span> Harpath <span class="bye-small">Group</span></spanGroup> <span class="logo-thin">Locations</span></h1>
  <div class="menu" :class="{ open: isOpen }" @click="toggleOpen" v-scope>
    <div class="menu-item toggle"><span></span></div>
    <span class="menu-item">
      <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
    </span>
  </span>
</nav>
{% endblock %}

{% block content %}
  <div class="wrapper">
    <aside class="doc-nav">
      <ul>
        {% for region, locations in location_dict.items() %}
          {% if loop.index0 == 0 %}
            <li><a href="#{{ locations[0].region_identifer() }}" class="js-btn selected">{{ region }}</a></li>
          {% else %}
            <li><a href="#{{ locations[0].region_identifer() }}" class="js-btn">{{ region }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </aside>
    <article class="doc-content">
      {% for region, locations in location_dict.items() %}
      <section class="js-section">
        <h2 href="#{{ locations[0].region_identifer() }}" class="section-title">{{ region }}</h2>
        {% for location in location_dict[region] %}
          <p class="link-para">
            <a href="{{ url_for('locations_show', id=location.id) }}">{{ location.city }}</a>
          </p>
        {% endfor %}
      </section>
      {% endfor %}
    </article>
  </div>

  <script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js'

    createApp({
      isOpen: false,

      toggleOpen() {
        this.isOpen = !this.isOpen
      }
    }).mount()
  </script>
{% endblock %}