{% extends "layout.html" %}

{% block title %}{{ location.city }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='locations.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='photoswipe.css') }}" />
{% endblock %}

{% block header %}
<nav class="header">
  <h1 class="logo"><span class="bye-small">The</span> Harpath <span class="bye-small">Group</span></spanGroup> <span class="logo-thin">{{ location.city }}</span></h1>
  <div class="menu" :class="{ open: isOpen }" @click="toggleOpen" v-scope>
    <div class="menu-item toggle"><span></span></div>
    <span class="menu-item">
      <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
    </span>
    <span class="menu-item">
      <a href="{{ url_for('locations') }}" class="navbar-item">Locations</a>
    </span>
  </span>
</nav>
{% endblock %}

{% block content %}
  <div class="wrapper">
    <aside class="doc-nav">
      <ul>
        <li><a href="#about" class="js-btn selected">About</a></li>
        <li><a href="#hotels" class="js-btn">Hotels</a></li>
      </ul>
    </aside>
    <article class="doc-content">
      <section class="js-section">
        <h2 id="about" class="section-title">About {{ location.city }}</h2>
        <p>{{ location.description }}</p>
      </section>
      <section class="js-section">
        <h2 id="hotels" class="section-title">Hotels</h2>
        {% for hotel in hotels %}
          {% include 'hotel.html' %}
        {% endfor %}
      </section>
    </article>
  </div>

  <script type="module">
    import PhotoSwipeLightbox from '../static/photoswipe-lightbox.esm.js'
    import { createApp } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js'

    const lightbox = new PhotoSwipeLightbox({
      gallery: '#test-gallery',

      children: 'a',

      pswpModule: () => import('../static/photoswipe.esm.js')
    });
    
    lightbox.init();

    createApp({
      isOpen: false,

      toggleOpen() {
        this.isOpen = !this.isOpen
      },
    }).mount()


  </script>
{% endblock %}