{% extends "layout.html" %}

{% block title %}Location{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='locations.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='photoswipe.css') }}" />
{% endblock %}

{% block header %}
<nav class="header">
  <h1 class="logo"><span class="bye-small">The</span> Harpath <span class="bye-small">Group</span></spanGroup> <span class="logo-thin">Naples</span></h1>
  <div class="menu" :class="{ open: isOpen }" @click="toggleOpen" v-scope>
    <div class="menu-item toggle"><span></span></div>
    <span class="menu-item">
      <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
    </span>
    <span class="menu-item">
      <a href="{{ url_for('locations') }}" class="navbar-item">Locations</a>
    </span>
  </span>
</nav>
{% endblock %}

{% block content %}
  <div class="wrapper">
    <aside class="doc-nav">
      <ul>
        <li><a href="#about" class="js-btn selected">About</a></li>
        <li><a href="#hotels" class="js-btn">Hotels</a></li>
      </ul>
    </aside>
    <article class="doc-content">
      <section class="js-section">
        <h1 class="section-title">About Naples</h1>
        <p>This is an article about Naples.</p>
      </section>
      <section class="js-section">
        <h3 class="section-title">Hotels</h3>
        <p>This is an article about the hotels.</p>
        <h4 class="hotel-title">1. H22 Hotel</h4>
        <p>An inviting stay very close to Napoli Centrali the main train station, the goal of hotelier </p>
        <p>▶︎ Piazza Garibaldi, 101, Naples, Italy <a href="https://maps.app.goo.gl/WtTC58U2pATyEoXr6" target="_blank">View Map</a></p>
        <p>▶︎ Always fully refundable</p>
        <div class="booknow-callout">
          <a href="https://expedia.com/affiliates/naples-hotels-h22-hotel.XEna95o" class="button-secondary">Book Now!</a>
        </div>
        <div class="photo-section" id="test-gallery">
          <a
            class="photo-link"
            href="https://images.trvl-media.com/lodging/93000000/92690000/92689700/92689637/7206edc9.jpg?impolicy=resizecrop&rw=1200&ra=fit"
            data-pswp-width="1200"
            data-pswp-height="1800"
            target="_blank"
            rel="noreferrer"
            >
            <img width="150" height="225" src="https://images.trvl-media.com/lodging/93000000/92690000/92689700/92689637/7206edc9.jpg?impolicy=resizecrop&rw=150&ra=fit" alt="" />
          </a>
          <a
            class="photo-link"
            href="https://images.trvl-media.com/lodging/93000000/92690000/92689700/92689637/f73cbdfd.jpg?impolicy=resizecrop&rw=1200&ra=fit"
            data-pswp-width="1200"
            data-pswp-height="800"
            target="_blank"
            rel="noreferrer"
            >
            <img width="225" height="150" src="https://images.trvl-media.com/lodging/93000000/92690000/92689700/92689637/f73cbdfd.jpg?impolicy=resizecrop&rw=225&ra=fit" alt="" />
          </a>
          <a
            class="photo-link"
            href="https://images.trvl-media.com/lodging/93000000/92690000/92689700/92689637/030663f5.jpg?impolicy=resizecrop&rw=1200&ra=fit"
            data-pswp-width="1200"
            data-pswp-height="800"
            target="_blank"
            rel="noreferrer"
            >
            <img width="225" height="150" src="https://images.trvl-media.com/lodging/93000000/92690000/92689700/92689637/030663f5.jpg?impolicy=resizecrop&rw=225&ra=fit" alt="" />
          </a>
        </div>
      </section>
    </article>
  </div>

  <script type="module">
    import PhotoSwipeLightbox from '../static/photoswipe-lightbox.esm.js'
    import { createApp } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js'

    const lightbox = new PhotoSwipeLightbox({
      gallery: '#test-gallery',

      children: 'a',

      pswpModule: () => import('../static/photoswipe.esm.js')
    });
    
    lightbox.init();

    createApp({
      isOpen: false,

      toggleOpen() {
        this.isOpen = !this.isOpen
      }
    }).mount()


  </script>
{% endblock %}