/* css variables */
:root {
  --primary-color: #432E30;
  --primary-color-light: #8E7474;
  --accent-color: #FE6A6B;
  --accent-color-light: #FFE4E4;
  --accent-color-dark: #B94B4C;
  --white-color: #FAFBFC;
  --light-gray-color: #C6CBD1;
  --medium-gray-color: #959DA5;
  --dark-gray-color: #444D56;
  --bg-color: #F8F8FA;
  --code-bg-color: #F0E8E8;
}

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.menu {
  margin: 0;
  text-align: right;
  overflow: hidden;
  list-style: none;
}

.menu-item {
  display: inline-block;
  padding: 1.5rem 1rem;
}

.menu-item.toggle {
  display: none;
}

.toggle {
  display: none;
  position: relative;
  cursor: pointer;
}

.toggle span,
.toggle span:before,
.toggle span:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 2px;
  background: var(--primary-color);
  transition: all 0.3s ease-in-out;
  right: 0;
}

.toggle span:before {
  top: -6px;
}

.toggle span:after {
  bottom: -6px;
}

.menu.open .toggle span {
  background-color: transparent;
}

.menu.open .toggle span:before,
.menu.open .toggle span:after {
  top: 0;
}

.menu.open .toggle span:before {
  transform: rotate(45deg);
}

.menu.open .toggle span:after {
  transform: rotate(-45deg);
}

.header {
  display: grid;
  grid-template-columns: 70px auto;
}

p {
  color: #4A4A4A;
  font-weight: 300;
}

a {
  color: var(--primary-color);
}

.wrapper {
  margin: 0 auto;
  width: 70%;
}

.section-title {
  color: var(--primary-color);
}

.button-secondary {
  padding: 10px 22px;
  border: 2px solid var(--primary-color);
  transition: all 0.5s ease-out;
}

.button-secondary:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.footer {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  font-weight: 300;
  font-size: small;
}

@media (max-width: 600px) {
  .menu {
    text-align: right;
    padding: 0.5rem 1rem;
  }
  .menu.open .menu-item {
    display: inline-block;
  }

  .menu-item.toggle {
    display: inline-block
  }

  .menu-item {
    display: none;
  }

  .bye-small {
    display: none;
  }

  .menu.open .menu-item:not(.toggle) {
    display: block;
    padding: 0 0 0.5rem 0;
  }
}